@{
    ViewBag.Title = "About the Developers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.myStock</h4>

<style type="text/css">
    {
        display: inline-block;
        float: left;
        margin: 0px;
        padding: 0px;
        background-color:black;

    }
</style>


 


        <div id="content">
            <img src="~/Content/images/Ragu.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Saundra.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Tommy.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Q.jpg" alt="Ragu" style="width:200px;height:auto;" />
        </div>

        <p>.</p>
    