@{
    ViewBag.Title = "About the Developers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.myStock</h4>

<style type="text/css">
    {
        display: inline-block;
        float: left;
        margin: 0px;
        padding: 0px;
        background-color:black;

    }
</style>


 <h1>Take your stock portfolio to the next level, with a team who’s been in the stock industry for a while, so please besure to contact us today so that we may help you improve your portfolio and maintain success!!! </h1>


        <div id="content">
            <img src="~/Content/images/Ragu.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Saundra.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Tommy.jpg" alt="Ragu" style="width:200px;height:auto;">
            <img src="~/Content/images/Q.jpg" alt="Ragu" style="width:200px;height:auto;" />
        </div>

        <p>.</p>
    