@{
    ViewBag.Title = "Home Page";
    
}

<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Lhander</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   @*<link rel="stylesheet" href="/Content/css1/base.css">  
   <link rel="stylesheet" href="/Content/css1/main.css">
   <link rel="stylesheet" href="/Content/css1/vendor.css">*@     

   
    @*<style>="background-image: url('/Content/images/intro-bg.jpg');"</style>*@

   <!-- script
   ================================================== -->
	<script src="Content/js1/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="/Content/favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>

   	<div class="row">

   		<div class="logo">
	         <a href="index.html">Lhander</a>
	      </div>

	   	@*<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll"  href="/Home/Index" title="">Home</a></li>
					<li><a class="smoothscroll"  href="/Home/About" title="">About</a></li>
					<li><a class="smoothscroll"  href="#features" title="">Features</a></li>
					<li><a class="smoothscroll"  href="#pricing" title="">Pricing</a></li>
					<li><a class="smoothscroll"  href="" title="">Login</a></li>					
					<li class="highlight with-sep"><a href="/Account/Register" title="">Register</a></li>					
				</ul>
			</nav>*@

			<a class="menu-toggle" href="#"><span>Menu</span></a>
   		
   	</div>   	
   	
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		@*@<div class="row">

   			<div class="col-twelve">

	   			<div class='video-link'>
	   				<a href="#video-popup"><img src="images/play-button.png" alt=""></a>
	   			</div>*@

	   			<h5>Hello welcome to the Stock Rumbler!!!.</h5>
	   			<h1>Our awesome well guide you to the road to riches!</h1>

	   			<a class="button stroke smoothscroll" href="/Home/About" title="">Learn More</a>

	   		
   			
   		
   	</div> 

   	<!-- Modal Popup
	   ========================================================= -->

      @*<div id="video-popup" class="popup-modal mfp-hide">

		   <div class="fluid-video-wrapper">
            <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
         </div>		     

         <a class="close-popup">Close</a>         

	   </div>*@ <!-- /video-popup -->  	 	

   </section> <!-- /intro --