@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Lhander</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   @*<link rel="stylesheet" href="/Content/css1/base.css">  
   <link rel="stylesheet" href="/Content/css1/main.css">
   <link rel="stylesheet" href="/Content/css1/vendor.css">*@     

   
    @*<style>="background-image: url('/Content/images/intro-bg.jpg');"</style>*@

   <!-- script
   ================================================== -->
	<script src="Content/js1/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="/Content/favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>

   	<div class="row">

   		<div class="logo">
	         <a href="index.html">Lhander</a>
	    </div>

	   		 <a class="menu-toggle" href="#"><span>Menu</span></a>
   		
   	</div>   	
   	
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		

	   			<h5>Hello welcome to Capitalize!</h5>
	   			<h1>Our awesome App will guide you on the road to riches!</h1>
           
	   			<a class="button stroke smoothscroll" href="/Personalize/Index" title="">Capitalize</a>

	      		
   	</div> 

    	

   </section> 