Personalize View (Index.cshtml)


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method="POST">
            <input type="text" />
            <input type="submit" value="submit" />
        </form>
        <form action=""></form>
    </div>
    <form action="/Personalize/Index" method="POST">
        <br>
        <table>
            <tr>
                <td>Auto</td>
                <td>
                    <input type="checkbox" name="Industries" value="Auto-true" />
                </td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>
                    <input type="checkbox" name="Industries" value="Finance-true" />
                </td>
            </tr>
            <tr>
                <td>Transport</td>
                <td>
                    <input type="checkbox" name="Industries" value="Transport-true" />
                </td>
            </tr>
            <tr>
                <td>Tech</td>
                <td>
                    <input type="checkbox" name="Industries" value="Tech-true" />
                </td>
            </tr>
            <tr>
                <td>Consumer</td>
                <td>
                    <input type="checkbox" name="Industries" value="Consumer-true" />
                </td>
            </tr>
            <tr>
                <td>Manufact</td>
                <td>
                    <input type="checkbox" name="Industries" value="Manufact-true" />
                </td>
            </tr>
            <tr>
                <td>Educ</td>
                <td>
                    <input type="checkbox" name="Industries" value="Educ-true" />
                </td>
            </tr>
        </table>
        <br>
        <h3>If nothing is selected, all industries will be stumbled through</h3>
        <br>
        <input type="submit" name="submitIndustries" value="submit" /><br>
    </form>

</body>
</html>
