Personalize View (Index.cshtml)


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/css/tiletemplatewith1.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
       
        <form action=""></form>
    </div>
    <form action="/Personalize/Index" method="POST">
        <br>
        <table>
            <tr>
                <td>Automotive</td>
                <td>
                    <input type="checkbox" name="Industries" value="Automotive-true" />
                </td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>
                    <input type="checkbox" name="Industries" value="Finance-true" />
                </td>
            </tr>
            <tr>
                <td>Transportation</td>
                <td>
                    <input type="checkbox" name="Industries" value="Transportation-true" />
                </td>
            </tr>
            <tr>
                <td>Technology</td>
                <td>
                    <input type="checkbox" name="Industries" value="Technology-true" />
                </td>
            </tr>
            <tr>
                <td>Consumer Goods</td>
                <td>
                    <input type="checkbox" name="Industries" value="Consumer-true" />
                </td>
            </tr>
            <tr>
                <td>Manufacturing</td>
                <td>
                    <input type="checkbox" name="Industries" value="Manufacturing-true" />
                </td>
            </tr>
            <tr>
                <td>Medical</td>
                <td>
                    <input type="checkbox" name="Industries" value="Medical-true" />
                </td>
            </tr>
            <tr>
                <td>Food</td>
                <td>
                    <input type="checkbox" name="Industries" value="Food-true" />
                </td>
            </tr>
            <tr>
                <td>Services</td>
                <td>
                    <input type="checkbox" name="Industries" value="Services-true" />
                </td>
            </tr>
            <tr>
                <td>Precious Metals</td>
                <td>
                    <input type="checkbox" name="Industries" value="PreciousMetals-true" />
                </td>
            </tr>    
        
        </table>
        <br>
        <h3>If nothing is selected, all industries will be stumbled through</h3>
        <br>
        <input type="submit" name="submitIndustries" value="submit" /><br>//
    </form>

    <div style="width:4%;  float: left;" class="container">
        <div class="space">Test</div>
    </div>

    <div style="width:25%; height:75%; float: left;" class="container">
        <div class="top">Test</div>
        <div class="symbol">YHOO</div>
        <div class="mid">Test</div>
        <div class="change">(-0.04%)</div>

        @{var Change_PercentChange = 1;}
        @if (Change_PercentChange > 0)
        {
            <div class="arrow" style="color: #7FFF00">&#8593;</div>
        }
        @if (Change_PercentChange < 0)
        {
            <div class="arrow" style="color: red">&#8595;</div>
        }

        @if (Change_PercentChange == 0)
        {
            <div class="arrow" style="color: white">&#8211;</div>
        }
        <div class="price">$23.45</div>
        <div class="companyname">General Electric</div>
    </div>

    <div style="width:10%;  float: left;" class="container" href=LINK>
        <div class="space">Test</div>
    </div>

    <div style="width:25%; height:75%; float: left;" class="container">
        <div class="top">Test</div>
        <div class="symbol">YHOO</div>
        <div class="mid">Test</div>
        <div class="change">(-0.04%)</div>


        @if (Change_PercentChange > 0)
        {
            <div class="arrow" style="color: #7FFF00">&#8593;</div>
        }
        @if (Change_PercentChange < 0)
        {
            <div class="arrow" style="color: red">&#8595;</div>
        }

        @if (Change_PercentChange == 0)
        {
            <div class="arrow" style="color: white">&#8211;</div>
        }
        <div class="price">$23.45</div>
        <div class="companyname">General Electric</div>
    </div>

    <div style="width:10%;  float: left;" class="container">
        <div class="space">Test</div>
    </div>

    <div style="width:25%; height:75%; float: left;" class="container">
        <div class="top">Test</div>
        <div class="symbol">YHOO</div>
        <div class="mid">Test</div>
        <div class="change">(-0.04%)</div>


        @if (Change_PercentChange > 0)
        {
            <div class="arrow" style="color: #7FFF00">&#8593;</div>
        }
        @if (Change_PercentChange < 0)
        {
            <div class="arrow" style="color: red">&#8595;</div>
        }

        @if (Change_PercentChange == 0)
        {
            <div class="arrow" style="color: white">&#8211;</div>
        }
        <div class="price">$23.45</div>
        <div class="companyname">General Electric</div>
    </div>

    <div style="width:4%;  float: right;" class="container">
        <div class="space">Test</div>
    </div>




</body>
</html>
