@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method="POST">
            <input type="text" />
            <input type="submit" value="submit" />
        </form>
        <form action=""></form>
    </div>
    <form action="/Personalize/Index" method="POST">
        <br>
        <table>
            <tr>
                <td>Auto</td>
                <td>
                    <input type="checkbox" name="Industries" value="auto-true" />
                </td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>
                    <input type="checkbox" name="Industries" value="finance-true" />
                </td>
            </tr>
            <tr>
                <td>Transport</td>
                <td>
                    <input type="checkbox" name="Industries" value="transport-true" />
                </td>
            </tr>
            <tr>
                <td>Tech</td>
                <td>
                    <input type="checkbox" name="Industries" value="tech-true" />
                </td>
            </tr>
            <tr>
                <td>Consumer</td>
                <td>
                    <input type="checkbox" name="Industries" value="consumer-true" />
                </td>
            </tr>
            <tr>
                <td>Manufact</td>
                <td>
                    <input type="checkbox" name="Industries" value="manufact-true" />
                </td>
            </tr>
            <tr>
                <td>Educ</td>
                <td>
                    <input type="checkbox" name="Industries" value="educ-true" />
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" name="Industries" value="submit" /><br>
    </form>

</body>
</html>
