Personalize View (Index.cshtml)


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
        <form action=""></form>
    </div>
    <form action="/Personalize/Index" method="POST">
        <br>
        <table>
            <tr>
                <td>Automotive</td>
                <td>
                    <input type="checkbox" name="Industries" value="Automotive-true" />
                </td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>
                    <input type="checkbox" name="Industries" value="Finance-true" />
                </td>
            </tr>
            <tr>
                <td>Transportation</td>
                <td>
                    <input type="checkbox" name="Industries" value="Transportation-true" />
                </td>
            </tr>
            <tr>
                <td>Technology</td>
                <td>
                    <input type="checkbox" name="Industries" value="Technology-true" />
                </td>
            </tr>
            <tr>
                <td>Consumer Goods</td>
                <td>
                    <input type="checkbox" name="Industries" value="Consumer-true" />
                </td>
            </tr>
            <tr>
                <td>Manufacturing</td>
                <td>
                    <input type="checkbox" name="Industries" value="Manufacturing-true" />
                </td>
            </tr>
            <tr>
                <td>Medical</td>
                <td>
                    <input type="checkbox" name="Industries" value="Medical-true" />
                </td>
            </tr>
            <tr>
                <td>Food</td>
                <td>
                    <input type="checkbox" name="Industries" value="Food-true" />
                </td>
            </tr>
            <tr>
                <td>Services</td>
                <td>
                    <input type="checkbox" name="Industries" value="Services-true" />
                </td>
            </tr>
            <tr>
                <td>Precious Metals</td>
                <td>
                    <input type="checkbox" name="Industries" value="PreciousMetals-true" />
                </td>
            </tr>    
        
        </table>
        <br>
        <h3>If nothing is selected, all industries will be stumbled through</h3>
        <br>
        <input type="submit" name="submitIndustries" value="submit" /><br>//
    </form>

</body>
</html>
