Personalize View (Index.cshtml)


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<style>
	td {font-size: 21px;
		color:blue;}
	</style>
</head>
<body>
  <div>
       
        <form action=""></form>
    </div>
    <form action="/Personalize/Index" method="POST">
        <br>
<form >
<br>
<br>
<center><font color="grey" size="6">INDUSTRY</font></center>
<table align="center">
<tr><td><input type="checkbox" name="Industries" value="Technology-true"></td><td>Technology</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Manufacturing-true"></td><td>Manufacturing</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Food-true"></td><td>Food</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Transport-true"></td><td>Transport</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Automotive-true"></td><td>Automotive</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Consumer-true"></td><td>Consumer goods</td></tr><br>
<tr><td><input type="checkbox" name="Industries" value="Services-true"></td><td>Services</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Finance-true"></td><td>Finance</td></tr>
<tr><td><input type="checkbox" name="Industries" value="Medical-true"></td><td>Medical</td></tr>
<tr><td><input type="checkbox" name="Industries" value="PreciousMetals-true"></td><td>Precious Metals</td></tr>

<tr><td colspan="2"><br /><button type="submit" form="form1" value="Submit">Capitalize</button></td></tr>
</table>
  </form>
  
</body>
</html>
