@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Symbol</title>
    <style type="text/css">
        html, body, .container {
            height: 100%;
            min-height: 100%;
        }

        .Graph {
            float: left;
            width: 70%;
            height: 50%;
            background-color: white;
        }

        .details {
            float: right;
            width: 30%;
            height: 50%;
            background-color: white;
        }

        .Paragraph {
            float: left;
            width: 100%;
            height: 50%;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="Graph">
            Graph
            <div>
                @{
                                   // <img style="-webkit-user-select: none" src='http://chart.finance.yahoo.com/c/1y/@Html.Raw(ViewBag.Symbol)'>
                                   <img style="-webkit-user-select: none" src='http://chart.finance.yahoo.com/z?s=@Html.Raw(ViewBag.Symbol)&t'>
                }
            </div>
        </div>
        <div class="details">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>bid</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>ask</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>P/E ratio  </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div> 1 year Target </div>
            <div>&nbsp;</div>
           
        </div>
        <div class="Paragraph">
            
            <h4>@ViewBag.Paragraph</h4>
            
        </div>

</body>
</html>
