
.container {
    text-align: center;
    max-width:100%;
}
.info {
    width: 100%;

}

.symbol{
    font-size:7em;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: white;
    background-color: #05bca9;
    display: block;
    }

#tile{
    background-color: #05bca9;
    max-width: 50%;
    line-height:normal;
    display:inline-block;
}

.arrow {
    font-size: 2em;
    width: 20%
    }


.change {
    font-size: 2em;
    width: 40%;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.price {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    width: 40%;
    color: white;
    }

.companyname {
    float: right;
    width: 100%;
    height: 20%;
    font-size: 2em;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.0);
}

.space{
    float: right;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: rgba(255, 0, 0, 0.0);
    background-color: rgba(255, 0, 0, 0.0);
    }

.StumbleButton {
        vertical-align:  bottom;
        text-align:center;
        }
